<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myfavourcarpooling.easycarpooling">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.myfavourcarpooling.easycarpooling.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.myfavourcarpooling.easycarpooling.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="in.mrfavor.mrfavorapp.SplachActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="in.mrfavor.mrfavorapp.MapActivity" />
        <activity android:name="in.mrfavor.mrfavorapp.GetLocationActivity" />
        <activity android:name="in.mrfavor.mrfavorapp.LoginRegister">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="in.mrfavor.mrfavorapp.GeoLocationbygooglemap" />
        <activity android:name="in.mrfavor.mrfavorapp.Login" />
        <activity android:name="in.mrfavor.mrfavorapp.Register" />
        <activity android:name="in.mrfavor.mrfavorapp.Otpverify" />
        <activity android:name="in.mrfavor.mrfavorapp.Userpanel" />
        <activity android:name="in.mrfavor.mrfavorapp.Fragment_passenger_history" />
        <activity
            android:name="in.mrfavor.mrfavorapp.Userboard"
            android:label="@string/title_activity_userboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="in.mrfavor.mrfavorapp.Registerbasicdetails" />
        <activity android:name="in.mrfavor.mrfavorapp.Firstactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="in.mrfavor.mrfavorapp.Ratecard" />
        <activity
            android:name="in.mrfavor.mrfavorapp.DriverPanel"
            android:label="@string/title_activity_driver_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="in.mrfavor.mrfavorapp.Forgetpassword" />
        <activity android:name="in.mrfavor.mrfavorapp.NewLocationautocomplet" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAV8ckuJWozpVYBT_J-o5TilzwjYs5W5UU" />

        <activity android:name="in.mrfavor.mrfavorapp.DroplocationAutocomplet" />
        <activity
            android:name="in.mrfavor.mrfavorapp.Drawroutsonmap"
            android:label="@string/title_activity_drawroutsonmap" />

        <service android:name="in.mrfavor.mrfavorapp.Servicefordriver" />

        <activity
            android:name="in.mrfavor.mrfavorapp.Bookingconfirmationalert"
            android:theme="@style/myDialog" />
        <activity
            android:name="in.mrfavor.mrfavorapp.Cancelridebydriver"
            android:theme="@style/myDialog" />
        <activity
            android:name="in.mrfavor.mrfavorapp.MyActivity"
            android:label="@string/title_activity_my" />
        <!-- android:theme="@android:style/Theme.Translucent" -->
        <!-- <activity -->
        <!-- android:name="in.mrfavor.mrfavorapp.MyyActivity" -->
        <!-- android:label="@string/title_activity_myy" /> -->
        <activity
            android:name="in.mrfavor.mrfavorapp.MainActivity234"
            android:label="@string/title_activity_main234" />
        <activity android:name="in.mrfavor.mrfavorapp.AddFav" />
        <activity android:name="in.mrfavor.mrfavorapp.UploadDocument" />
        <activity android:name="in.mrfavor.mrfavorapp.AcceptAcivity"></activity>


        <activity
            android:label="@string/app_name"
            android:name="in.mrfavor.mrfavorapp.InitialScreenActivity"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:label="@string/app_name"
            android:name="in.mrfavor.mrfavorapp.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="in.mrfavor.mrfavorapp.StatusActivity"
            android:screenOrientation="portrait" >
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>